.radio-wrapper {
  position: relative;
}

.radio-wrapper input[type="radio"]:focus-visible::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 2px solid #0073DD;
  border-radius: 8px;
  pointer-events: none;
}
